In [1]:
import pandas as pd

df = pd.read_csv('Task_1_Data.csv')

In [2]:
df

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0

In [4]:
df_cleaned = df.dropna()

In [5]:
df_filled = df.fillna(0)  # Fill missing values with 0

In [8]:
summary_stats = df.describe()
print(summary_stats)

         Pregnant     Glucose  Diastolic_BP   Skin_Fold  Serum_Insulin  \
count  768.000000  768.000000    733.000000  541.000000     768.000000
mean     3.845052  121.686763     72.405184   29.153420     155.548223
std      3.369578   30.435949     12.382158   10.476982      85.021108
min      0.000000   44.000000     24.000000    7.000000      14.000000
25%      1.000000   99.750000     64.000000   22.000000     121.500000
50%      3.000000  117.000000     72.000000   29.000000     155.548223
75%      6.000000  140.250000     80.000000   36.000000     155.548223
max     17.000000  199.000000    122.000000   99.000000     846.000000

              BMI  Diabetes_Pedigree         Age       Class
count  757.000000         768.000000  768.000000  768.000000
mean    32.457464           0.471876   33.240885    0.348958
std      6.924988           0.331329   11.760232    0.476951
min     18.200000           0.078000   21.000000    0.000000
25%     27.500000           0.243750   24.000000    0.000000
50%     32.300000           0.372500   29.000000    0.000000
75%     36.600000           0.626250   41.000000    1.000000
max     67.100000           2.420000   81.000000    1.000000

In [11]:
mean_glucose_Level = df['Glucose'].mean()
print(f"Mean Glucose Level: {mean_glucose_Level}")

Mean Glucose Level: 121.68676277850591

In [12]:
median_Skin_Fold = df['Skin_Fold'].median()
print(f"Median Skin_Fold: {median_Skin_Fold}")

Median Skin_Fold: 29.0

In [13]:
non_missing_counts = df.count()
print(non_missing_counts)

Pregnant             768
Glucose              768
Diastolic_BP         733
Skin_Fold            541
Serum_Insulin        768
BMI                  757
Diabetes_Pedigree    768
Age                  768
Class                768
dtype: int64